.env
*.env
# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.env/
.env.*

# =========================
# IDE / OS files
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Large AI / ML models
# =========================
*.onnx
*.pt
*.pth
*.h5

# =========================
# Data / temp files
# =========================
*.wav
*.mp3
*.tmp
