# Environment files
.env
.env.*

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# AI / ML models
*.onnx
*.pt
*.pth
*.h5

# Media / temp
*.wav
*.mp3
*.tmp
